<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0b0c0c">
    <title>Inquests Client FAQ - GOV.UK</title>
    <link rel="stylesheet" href="../static/govuk-frontend.css">
    <style>
        @page {
            size: A4;
            margin: 5mm 15mm;
        }

        /* Override font-family to use Arial consistently for PDF generation since GDS Transport fonts are not available */
        * {
            font-family: Arial, sans-serif !important;
        }

        /* Remove grey background for PDF generation */
        html,
        body,
        .govuk-template {
            background-color: #ffffff !important;
        }

        /* Scale down text for print */
        body {
            font-size: 15px;
            line-height: 1.4;
        }

        .govuk-heading-m {
            font-size: 15px;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 8px;
        }

        .govuk-body {
            font-size: 15px;
            margin-bottom: 8px;
        }

        .faq-content {
            padding: 10px 0;
        }

        .section {
            margin-bottom: 40px;
        }

        .govuk-inset-text {
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-left: 10px solid #b1b4b6;
        }

        .contact-block {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .contact-block p {
            margin-bottom: 5px;
        }

        .govuk-list {
            font-size: 15px;
        }
    </style>
</head>
<body class="govuk-template__body">
    <div class="faq-content">
        <p class="govuk-heading-m">FAQs</p>

        <div class="section">
            <p class="govuk-heading-m">Important Information about your legal aid</p>

            <p class="govuk-body"><strong>You have been granted a legal aid certificate.</strong></p>

            <p class="govuk-body">A copy of your legal aid certificate and will be attached to your decision letter.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">Is my legal aid certificate limited?</p>

            <p class="govuk-body">The certificate provides a description of the level of legal aid that has been granted.</p>

            <p class="govuk-body">Each proceeding will be limited (in scope) to carrying out certain steps and the scope of each proceeding is specified on your certificate.</p>

            <p class="govuk-body">You may wish to contact your solicitor to discuss what work is covered under your legal aid certificate.</p>

            <p class="govuk-body">The Legal Aid Agency can review your case during the lifetime of the certificate.</p>

            <p class="govuk-body">Your legal aid could be stopped if it is considered, following a review, that your case fails to meet the criteria for funding set out in the Legal Aid, Sentencing &amp; Punishment of Offenders Act 2012.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">Will I have to pay the Legal Aid Agency any money at the end of my case?</p>

            <p class="govuk-body">Yes, if a 'Statutory Charge' applies.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">What is the Statutory Charge?</p>

            <p class="govuk-body">The Legal Aid Agency's Statutory Charge arises in cases where there has been recovery or preservation of money or property in a dispute or in proceedings in which you received legal aid.</p>

            <p class="govuk-body">Recovery is defined as when you have gained (or will gain) money or property from the case which you did not have at the start.</p>

            <p class="govuk-body">Preservation is defined as when you have kept (or will keep) money or property that you had at the start of the case, which your opponent sought to take.</p>

            <p class="govuk-body">Where you gain or keep money or property with the help of legal aid, you may have to pay some or all of your legal costs. In this way funding can act as a loan.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">What should I do if I want to change solicitor?</p>

            <p class="govuk-body">If you need to change your solicitor and you have found one willing to take your case, please ask your proposed new solicitor to submit a request to the Legal Aid Agency to transfer your certificate as soon as possible.</p>

            <p class="govuk-body">The Legal Aid Agency will then consider whether the transfer is justified.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">What should I do if I have any questions about my legal aid?</p>

            <p class="govuk-body">Please contact your solicitor who will be able to offer guidance.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">What should I do if I have a complaint?</p>

            <p class="govuk-body">We always try to provide you with the best possible service.</p>

            <p class="govuk-body">However sometimes things can go wrong. If you are not happy with something we have done, you can let us know.</p>

            <p class="govuk-body">Please write to us using the details at the top of this letter or email us at laacomplaints@justice.gov.uk</p>

            <p class="govuk-body">Please mark your correspondence clearly with the word 'Complaint' and ensure you include your full name and reference number.</p>

            <p class="govuk-body">We will look into the matter and get back to you within 10 working days of receiving your complaint.</p>

            <p class="govuk-body">If you do make a complaint you will receive an explanation and, if we are at fault, an apology and information on what we have done to put things right.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">What should I do if I'm unhappy with the service my solicitor or barrister is providing?</p>

            <p class="govuk-body">If you are unhappy with the service your solicitor is providing, you should firstly complain to the solicitor's firm, following their complaints policy and procedure.</p>

            <p class="govuk-body">If you are unable to resolve your concerns with the firm, the Legal Ombudsman can help. They can be contacted on 0300 555 0333.</p>

            <p class="govuk-body">Alternatively, the Complaints Commissioner of the General Council of the Bar investigates complaints about barristers.</p>

            <div class="contact-block">
                <p class="govuk-body">
                    The Complaints Commissioner<br>
                    General Council of the Bar<br>
                    4th Floor, 289-293 High Holborn<br>
                    London WC1V 7HZ<br>
                    Tel: 020 7242 0082<br>
                    Fax: 020 7831 9217<br>
                    www.barcouncil.org.uk
                </p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">Useful Websites:</p>
            <p class="govuk-body">http://www.legalombudsman.org.uk</p>
            <p class="govuk-body">http://www.lawsociety.org.uk/get-in-touch/complaints</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">Civil Legal Advice</p>
            <p class="govuk-body">Get free and confidential legal advice if you're eligible for Legal Aid:</p>
            <p class="govuk-body">Telephone: {{ LAA_CONTACT_PHONE_NUMBER }}<br>
            Minicom: 0345 609 66 77<br>
            Monday to Friday, 9am to 8pm<br>
            Saturday, 9am to 12:30pm<br>
            {{ LLA_WEBSITE }}</p>
        </div>
        </div>

        <div class="section">
        <p class="govuk-heading-m">Important Information about your legal aid</p>

        <p class="govuk-body">Submitting a request to review/appeal against:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the refusal of legal aid</li>
            <li>the discharge or revocation of your certificate</li>
        </ul>
        </div>

        <div class="section">
            <p class="govuk-heading-m">How do I challenge a decision?</p>

            <p class="govuk-body">Contact your solicitor who can request an appeal/review of the decision on your behalf.</p>

            <p class="govuk-body">This will mean that your solicitor receives all correspondence about your challenge.</p>

            <p class="govuk-body">It will be their responsibility to keep you updated about your review. Alternatively, you can request an appeal by sending us a letter directly.</p>

            <p class="govuk-body">Our contact details can be found at the top of the decision letter, or you can contact us by email at contactcivil@justice.gov.uk</p>

            <p class="govuk-body">If you contact us directly your request will need to include:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>your legal aid reference number (if this is not available, please confirm your full name and date of birth)</li>
                <li>why you think our decision to refuse or stop your legal aid certificate was wrong</li>
                <li>as much information as possible to support your request</li>
            </ul>

            <p class="govuk-body">We are unable to consider your request without this information and recommend you speak to your solicitor before you contact us.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">What if my case is subject to the full appeal procedure?</p>

            <p class="govuk-body">A different person from the original decision maker at the Legal Aid Agency will review the decision made, considering any new information and arguments.</p>

            <p class="govuk-body">We will then decide whether you should have legal aid (as long as you have been assessed as financially eligible).</p>

            <p class="govuk-body">If the review is successful, we will write to tell you.</p>

            <p class="govuk-body">If the decision stays the same following internal review, some decisions can be referred to an Independent Funding Adjudicator to consider whether funding should be granted or continue.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">Who is the Independent Funding Adjudicator?</p>

            <p class="govuk-body">The Independent Funding Adjudicator is a solicitor or barrister who is not employed by the Legal Aid Agency. They will consider the matter afresh and provide an impartial decision.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">When would the decision not go to an Independent Funding Adjudicator?</p>

            <p class="govuk-body">Some decisions are subject to internal review only, for example:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the legal aid application/certificate is an emergency application/certificate</li>
                <li>we have refused or are stopping your legal aid because of your financial means</li>
                <li>the proceedings are not covered by legal aid</li>
                <li>the refusal to transfer a legal aid certificate</li>
            </ul>

            <p class="govuk-body">A different person at the Legal Aid Agency will review the decision made, considering any new information and arguments.</p>

            <p class="govuk-body">If you do not succeed on your review, we will write to explain why you have not been successful.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">How can I tell the Adjudicator what I want him or her to know?</p>

            <p class="govuk-body">The Adjudicator will make a decision based on the documents submitted and any further information and reasons provided in your appeal.</p>

            <p class="govuk-body">If the Adjudicator requires further information to reach a decision we will request this from you or your solicitor.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">What happens when the Adjudicator has made a decision?</p>

            <p class="govuk-body">The Adjudicator cannot decide to give you a legal aid certificate.</p>

            <p class="govuk-body">If the Adjudicator feels that the decision to refuse or stop legal aid was wrong, they will provide the Legal Aid Agency with a decision and reasons.</p>

            <p class="govuk-body">We will then review the decision further. If your appeal is successful we will confirm this in writing to yourself and your solicitor.</p>

            <p class="govuk-body">If your appeal is unsuccessful, we will write to you giving the reasons.</p>

            <p class="govuk-body">Your solicitor cannot do any legal aid work on your case until a certificate is issued, or we write to advise that work can resume.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">What should I do if I have any questions about my legal aid?</p>

            <p class="govuk-body">Please contact your solicitor who will be able to offer guidance.</p>
        </div>

        <div class="section">
            <p class="govuk-heading-m">What should I do if I have a complaint?</p>

            <p class="govuk-body">We always try to provide you with the best possible service.</p>

            <p class="govuk-body">However, sometimes things can go wrong. If you are not happy with something we have done, you can let us know.</p>

            <p class="govuk-body">You can email laacomplaints@justice.gov.uk or you can write to us at:</p>

            <div class="contact-block">
                <p class="govuk-body">
                    Complaints<br>
                    {{ LAA_CONTACT_ADDRESS | replace("\n", "<br>") | safe }}
                </p>
            </div>

            <p class="govuk-body">You will need to include your name and our reference. We will investigate your complaint and reply within 20 working days.</p>
        </div>
    </div>
</body>
</html>
